# URL de la base de datos MySQL (por defecto usa el puerto 3307)
DB_URL=jdbc:mysql://localhost:3307/Escuela?createDatabaseIfNotExist=true

# Usuario de la base de datos
DB_USERNAME=root

# Contraseña de la base de datos
DB_PASSWORD=
